.cp{
    cursor: pointer;
}
.titulo{
    font-weight: bold;
    font-size: 1.2rem;
    border-bottom: solid 2px dodgerblue;
    margin-bottom: 1rem;
}
.dark-mode .table-info, .dark-mode .table-info:hover{
    color: black !important;
}
#cinta{
    position: absolute;
    top: 0;
    height: 100vh;
    font-size: 40px;
    z-index: 10000;
    left: 0;
}