<div id="resumen" class="row">
    <div class="col-12">
        <article class="card card-primary card-outline">
            <div class="card-header">
                <h5 class="m-0">Viajes</h5>
            </div>
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col">
                        <input type="month" name="mes" class="form-control">
                    </div>
                    <div class="col">
                        <select name="dia" class="form-control">
                            <option value="0">Mes completo</option>
                        </select>
                    </div>
                </div>
                <div class="border p-3" style="height: 65vh; overflow-y: scroll;" id="grilla">
                </div>
                <div class="text-right mt-2">
                    <button class="btn btn-warning" name="imprimir">
                        <i class="fas fa-print"></i>
                        Imprimir
                    </button>
                </div>
        </article>
    </div>
</div>

<div id="modales" class="d-none">
    <article id="">
    </article>
</div>
<script src="/scripts/Resumen.js"></script>
<script>
    var resumen = null;
    window.onload = () =>{
        resumen = new Resumen(true);
    }
</script>