<div id="resumen" class="row">
    <div class="col-5">
        <article class="card card-primary card-outline">
            <div class="card-header">
                <h5 class="m-0">Listado</h5>
            </div>
            <div class="card-body">
                ...
            </div>
        </article>
    </div>
</div>

<div id="modales" class="d-none">
    <article id="">
    </article>
</div>
<script src="/scripts/Resumen.js"></script>
<script>
    var resumen = null;
    window.onload = () =>{
        resumen = new Resumen(true);
    }
</script>